#navigation-sign-in-dropdown.navigation-dropdown
  = form_tag login_path, :class => 'form-horizontal' do
    .control-group
      %label.control-label{ :for => "user_name_or_email" } User Name / E-Mail
      .controls
        = text_field_tag "user_name_or_email", params[:user_name_or_email], :placeholder => "user@domain.com"
    .control-group
      %label.control-label{ :for => "password" } Password
      .controls
        = password_field_tag "password"
    .controls
      = submit_tag "Sign In", :class => "btn btn-primary"
  %p
    Don't have an account yet?
    = link_to "Create Your Account Now", new_user_path
